<% if notice.present? %>
	<div class="alert alert-info alert-dismissible fade show messages">
		<strong><%= notice %></strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
<% end %>