<% if book.publisher.present? %>
	<div class="card w-100 mb-3">
		<div class="card-title  text-center">
			<h1>Publisher Info</h1>
		</div>
		<div class="card-body">
			<p class="float-end"><%= link_to "<i class='fa fa-solid fa-pencil fa-lg'></i>".html_safe, edit_book_publisher_path(book.id, book.publisher.id)  %></p>
			<strong>Publisher :- <%= book.publisher.publish %></strong>
			<p> Address :- <%= book.publisher.address %></p>
		</div>
	</div>
<%else%>
	<div class="card w-100 mb-3">
		<div class="card-title  text-center">
			<h1>Publisher Info</h1>
		</div>
		<div class="card-body">
			<p class="float-end"><%= link_to '<i class="fa fa-solid fa-plus fa-lg"></i>'.html_safe, new_book_publisher_path(book)  %></p>
			<strong>No Publisher Found</strong>
		</div>
	</div>
<%end%>