<a href="<%= book_path(book) %>", class="text-decoration-none">
	<div class="card mx-2" style="height: 100%;width: 320px;background: #C19314;">
		<div class="card-body">
			<div class="container">
				<% if book.cover? %>
					<%= image_tag book.cover_url, class:"card-img-top", style: 'height:320px;width:100%;' %>
				<% else %>
					<%= image_tag 'cover', style: 'height:320px;width:100%;' %>
				<% end %>
				<h4><%= book.title %></h4>
			</div>
		</div>
	</div>
</a>