<div id="books" class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Books</h1>

  <div class="row row-cols-3 mt-4">
    <% @books.each do |book| %>
      <div class="mt-5 mb-5">
        <%= render 'shared/books/show_book', book: book %>    
      </div>
    <% end %>
  </div>
</div>
